// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";


.st-header-area {
	background: $color__white;
	margin-bottom: 40px;
    -webkit-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.2);
}
