.widget {
	margin: 0 0 1.5em;
	background: $color__white;
	padding: 15px;
	padding-top: 35px;
	border-radius: 6px;
	position:relative;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3);

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.widget-title {
		font-size: 14px;
	    margin-top: 10px;
	    background: $color__secondary;
		@include gradient-horizontal($color__secondary, darken($color__secondary, 15%), 0%, 100%);
	    padding: 10px;
	    color: #fff;
	    border-radius: 4px;
	    position: absolute;
	    top: -18px;
	    margin: auto;
	    width: 70%;
	    left: 15%;
	    text-align: center;
	    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3), 0 8px 18px -8px rgba($color__secondary, 0.4);
	}
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li {
			padding: 4px 0;
			/* border-bottom: 1px dashed $color__light-black; */
			a {
				transition: color 0.4s ease;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

}


.widget {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    ul {
        margin-left: 0rem;
        padding-left: 0rem;
        list-style: none;
        &.children {
            padding: 10px 0px 0px 20px;
        }
        li {
            margin-bottom: .25rem;
            font-family: $headings-font-family;
            font-size: .875rem;
            .post-date { // For default recent posts widget
                display: block;
                font-size: 0.75rem;
                color: $color__light-black;
            }
        }
    }
    &.widget_search {
        .form-control.s {
            font-size: .875rem;
            padding: 3px 12px;
            border: 0px;
            font-family: $font-family-base;
        }
        .search-button {
            border: 0px;
            padding: 12px 15px;
            cursor: pointer;
            border-radius: .25rem;
            .fa {
                font-size: .875rem;
            }
        }
    }
}
.widget>div>ul li a:before, .widget>ul li a:before, .widget>ul li:before, .widget_calendar caption:before {
    font-family: FontAwesome;
    font-size: 13px;
    margin-right: 8px;
    color: $color__light-black;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
.widget_categories>ul>li a:before {
    content: "\f115";
}
.widget_archive>ul>li a:before {
    content: "\f073";
}
.widget_recent_comments>ul>li>span:before {
    content: "\f27b";
    font-family: FontAwesome;
    font-size: 13px;
    margin-right: 8px;
    color: $color__light-black;
    display: inline-block!important;
    width: 1em;
    text-align: center;
}
.widget_meta>ul>li a:before {
    content: "\f0c1";
}
.widget_recent_entries>ul>li a:before {
    content: "\f0f6";
}
.widget_pages>ul>li a:before {
    content: "\f0f6";
}
.widget_nav_menu>div>ul>li a:before {
    content: "\f0f6";
}
.widget_recent_comments {
	.comment-author-link {
		a {
			color: $color__light-black;
		}
	}
}
