// Custom variables
$color__white: #fff;
$color__gray: #f2f2f2;
$color__primary: #e74c3c;
$color__secondary: #3498db;
$color__body-text: #393939;
$color__black-header: #323232;
$color__light-black: #929292;

// Default variables with _s
$color__background-body: $color__gray;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__black-header;
$color__text-input: $color__light-black;
$color__text-input-focus: $color__black-header;
$color__link: $color__body-text;
$color__link-visited: $color__body-text;
$color__link-hover: $color__primary;
$color__text-main: $color__body-text;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Bootstrap Variables
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

$brand-primary: $color__primary;

$fa-font-path: "fonts/font-awesome/";
