.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post {
	background: $color__white;
	padding: 0px;
	border-radius: 6px;
	position:relative;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.3);

	.attachment-post-thumbnail {
		border-radius: 6px 6px 0 0;
		width: 100%;
	}

	.entry-header {
		padding: 15px;
	}
	.entry-content {
		padding: 15px;
		padding-top: 0px;
		margin-top: 5px;
	}
	.entry-summary {
		padding: 15px;
		padding-top: 0px;
		margin-top: 5px;
	}
	.entry-title {
		font-size: 22px;
		margin-top: 10px;
		a {
			color: inherit;
			transition: color 0.4s ease;
			&:hover {
				color: $color__primary;
				text-decoration: none;
			}
		}
	}
	.entry-meta {
		color: $color__light-black;
		a {
			color: inherit;
			transition: color 0.4s ease;
			font-size: 13px;
			&:hover {
				color: $color__primary;
				text-decoration: none;
			}
		}
		.fa {
			margin-right: 5px;
		}
		.meta-span {
			margin-right: 15px;
		}
	}
	.st-post-thumb {
		position: relative;
		width: 100%;
		height: 300px;
		overflow: hidden;
		border-radius: 6px 6px 0 0;
		img.attachment-post-thumbnail {
			position: absolute;
			left: 50%;
			top: 50%;
			height: auto;
			-webkit-transform: translate(-50%,-50%);
		      -ms-transform: translate(-50%,-50%);
		          transform: translate(-50%,-50%);
		}
	}
	.cat-links {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 11px;
		padding: 1px 8px;
		border-radius: 0 0 0 6px;
		background: $color__light-black;
		color: $color__white;
		a {
			color: $color__white;
			transition: color 0.4s ease;
			&:hover {
				text-decoration: none;
				color: $color__black-header;
			}
		}
	}
	&.sticky {
		position: relative;
		&:after {
			position: absolute;
			content: "\f02e";
			font: normal normal normal 18px/1 FontAwesome;
			top: 0px;
			right: 15px;
		}
	}
	.read-post {
		background: $color__primary;
		box-shadow: 0 2px 2px 0 rgba($color__primary, 0.14), 0 3px 1px -2px rgba($color__primary, 0.2), 0 1px 5px 0 rgba($color__primary, 0.12);
		padding: 6px 20px;
		color: $color__white;
		border-radius: 4px;
		font-size: 12px;
		transition: all 0.4s ease;
		&:hover {
			text-decoration: none;
			box-shadow: 0 14px 26px -12px rgba($color__primary, 0.42), 0 4px 23px 0 rgba(0,0,0, 0.12), 0 8px 10px -5px rgba($color__primary, 0.2);
		}
	}
}
